{% extends 'flatpages/default.html' %}
{% load tz %}
{% load custom_filters %}


{% block title %}
Posts
{% endblock title %}


{% block content %}
<style>
       body {background-color: {% if current_time.hour >= 19 or current_time.hour <= 7 %} darkcyan {% else %} white {% endif %};}
</style>
    <div align="right" style="margin-right: 50px">
    {% get_current_timezone as TIME_ZONE %}
        <form action="" method="POST">
            {% csrf_token %}
                <label for="timezone">Time zone:</label>
                <select name="timezone">
                    {% for tz in timezones %}
                        <option value="{{ tz }}"{% if tz == TIME_ZONE %} selected{% endif %}>{{ tz }}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Set">
        </form>
    {{ TIME_ZONE }}
    {{ current_time|timezone:TIME_ZONE }}
   </div>
<div align="right" style="margin-right: 70px" >
<a href="{% url 'search'%}">Поиск</a>
</div>
   <h1>Все новости</h1>
   <h5>{{ time_now|date:'M d Y' }}</h5>
   <hr>
   {% if perms.news.add_post %}
   <a href="{% url 'news_create'%}">Создать новость</a>
   {% endif %}

   {% if perms.news.add_post %}
   <br>
   <a href="{% url 'ar_create'%}">Создать статью</a>
   {% endif %}
   <hr>
   {% if posts %}
    <style>
        table {
            border-collapse: collapse;
        }

        tr:first-child {
            background-color: green;
        }

        tr:nth-child(even) {
            background-color: white;
        }

        tr:nth-child(odd) {
            background-color: lightblue;
        }

        tr:first-child {
            background-color: green;
        }
    </style>
       <table align="center">
           <tr>
               <td width="20%">Название</td>
               <td width="15%">Дата публикации</td>
               <td width="5%">Тип</td>
               <td width="10%">Категория</td>
               <td width="35%">Текст</td>
               <td colspan="7">Действия</td>
           </tr>
           {% for post in posts %}
                  <tr>

                      <td>{{ post.title|censor }}</td>
                      <td>{{ post.dateCreation }}</td>
                      <td>{{ post.category_type }}</td>
                      <td>{% for cat in post.postCategory.all %}
                             <a href="{% url 'category_list' cat.id %}">{{ cat.name }}</a>
                          {% endfor %}</td>
                      <td>{{ post.text|truncatechars:30|censor }}</td>

                      {% if post.category_type == 'NE' %}
                        <td>
                        <a href="{% url 'post_detail' post.id %}">Просмотр</a>
                        </td>
                        {% if perms.news.change_post %}
                        <td>/<td>
                        <td>
                        <a href="{% url 'news_update' post.id %}">Редактировать</a>
                        </td>
                        {% endif %}
                        {% if perms.news.delete_post %}
                        <td>/<td>
                        <td>
                        <a href="{% url 'news_delete' post.id %}">Удалить</a>
                        </td>
                        {% endif %}
                      {% elif post.category_type == 'AR' %}
                        <td>
                        <a href="{% url 'ar_detail' post.id %}">Просмотр</a>
                        </td>
                        {% if perms.news.change_post %}
                        <td>/<td>
                        <td>
                        <a href="{% url 'ar_update' post.id %}">Редактировать</a>
                        </td>
                        {% endif %}
                        {% if perms.news.delete_post %}
                        <td>/<td>
                        <td>
                        <a href="{% url 'ar_delete' post.id %}">Удалить</a>
                        </td>
                        {% endif %}
                      {% endif %}
                  </tr>
           {% endfor %}
       </table>
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}
   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}